.podcastColumn h2{
  margin: 0 0 1em 0; 
}
.podcastContainer img{
  float: left;
  width: 4em;
  margin: 0 .5em .5em 0;
}
.podcastContainer{
  clear: both;
}
.clearer{
 clear: both; 
}
audio{
 max-width: 100%; 
}
